<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="buttons-bar">
                <a class="btn btn-success" href="{% url 'load_data' %}">
                    Получить данные
                </a>
                <a class="btn btn-danger" href="{% url 'drop_data' %}">
                    Очистить данные
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Имя пользователя</th>
                        <th scope="col">Тема поста</th>
                        <th scope="col">Текст поста</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for p in posts %}
                            <tr>
                                <td>{{ p.user_id.name }}</td>
                                <td>{{ p.title }}</td>
                                <td>{{ p.body }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>

</body>
</html>